@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Minerva-Modern-Regular";
  src: local("Minerva-Modern-Regular"),
    url(./fonts/Minerva-Modern-Regular.otf) format("opentype");
}
@font-face {
  font-family: "proximanovaexcn-regular";
  src: local("proximanovaexcn-regular"),
    url(./fonts/proximanovaexcn-regular.otf) format("opentype");
}
@font-face {
  font-family: "CooperHewitt-Light";
  src: local("CooperHewitt-Light"),
    url(./fonts/CooperHewitt-Light.otf) format("opentype");
}
.head-title {
  font-family: ;
}
.head-menu {
  /* font-family: "proximanovaexcn-regular"; */
  font-family: "CooperHewitt-Light";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(248 250 252);
  overflow-x: hidden;
}
@layer components {
  .max-container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
